@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

header {
    background-color: $white;

    a {
        color: #1c1c1c;
    }
}

a {
    text-decoration: none;
}

main {
    background-color: #1c1c1c;

    .mainNav {
        background-color: #0282f9;
        padding: 1rem;
    }
}

footer {
    background-image: url(/images/footer-bg.jpg);
}

.myContainer {
    margin: 0 auto;
    padding: 1rem 0;
    width: 75%;
    display: flex;
    justify-content: space-between;
    color: $white;

    ul {
        list-style: none;
        display: flex;
    }
}